body{
	background-color: #FAEFE0;
	padding: 0px;
	font-family: Montserrat;
}

.header{
	background-color: #F1D2A7;
	padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;
	display: flex;
	align-items: center;
}

.header-left{
	width: 45%;
}

.header-right{
	width: 54%;
	text-align : right;
}

.header-title{
	text-align: left;
	font-family: Garamond;
	font-size: 30px;
}


nav.header-nav ul li.btn, nav.header-nav ul li.btn-active{
	list-style-type: none;
	display: inline-block;
	text-align: right;
	padding-inline: 20px;
	font-family: Montserrat;
	font-weight: bold;
	text-transform: uppercase;
}

nav.header-nav ul li.btn a{
	color: #4F4F4F;
	text-decoration: none;
	border-bottom: 3px solid #4F4F4F;
	text-transform: uppercase;
}
nav.header-nav ul li.btn-active a{
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid #000000;
	text-transform: uppercase;
}

nav.header-nav ul li.btn:hover a{
	color: #2B2B2B;
	transition: 0.5s all;
	font-weight: bold;
	border-bottom: 3px solid #2B2B2B;
}


div.site-body{
	background-color: #FAEFE0;
	padding: 0px;
}

div.hero-header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-bg.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
	text-align: center;
	padding: 50px;
	align-content: center;
	line-height: 1rem;
	overflow: hidden;
}


h2.page-title{
	text-align: center;
	font-family: Garamond;
	font-weight: 1200;
	font-size: 60px;
	line-height: 1.1rem;
	text-transform: uppercase;
}

h2.title{
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 60px;
	font-weight: 1200;
}

h3.subtitle-wht{
	color: #FFFFFF;
	font-family: Garamond;
	font-size: 30px;
	font-weight: 300;
	margin-top: 0px;
}

h3.subtitle{
	color: #000000;
	font-family: Garamond;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin-top: 0px;
}

.sub-subtitle{
	font-family: Garamond;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}

.section-title{
	font-family: Garamond;
	font-size: 30px;
	font-weight: 900;
}



.first-row, .second-row, .third-row, .main, .divided-section{
	background-color: #FAEFE0;
	display: flex;
	padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;
}

div.row-left, div.row-right, .left-form, .right-form{
	width: 50%;
	padding-inline: 20px;
	background-color: #FAEFE0;
	align-content: center;
}

div.row-left-centered, div.row-right-centered{
	width: 100%;
	padding: 0;
}

.maps-integration{
	width: 90%;
	filter: grayscale(100%) invert(90%);
}

.articles-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding-left: 50px; padding-right: 50px;
	padding-bottom: 100px;
}

.article{
	background-color: #F1D2A7;
	padding: 20px;
}

.article-first-line{
	display: flex;
	width: 100%;
	gap: 20px;
	font-size: 0.8rem;
	text-align: right;
	line-height: 0.5rem;
}

.article-title{
	font-family: Garamond;
	font-size: 20px;
	line-height: 0.5rem;
}

.article-desc{
	font-size: 0.9rem;
	text-align: justify;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient : vertical;
	overflow: hidden;
}

.base-btn{
	background-color: #4E032A;
	padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px;
	border: 0px;
	font-family: Montserrat;
	color: #FFFFFF;
	align-content: right;
	border-radius: 2px;
	text-decoration: none;
	font-weight: 600;
}

.base-btn:hover{
	background-color: #3B0220;
	border: 0px;
	font-family: Montserrat;
}

.base-btn .btn-link{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 600;
}

img.section-img{
	display: block;
	width: 99%;
	position: center;
	background-size: cover;
	margin: 0 auto;
}

img.article-img{
	display: block;
	width: 100%;
	height: auto;
	position: center;
	background-size: cover;
	margin: 0 auto;
}

p.section-text{
	line-height: 2;
}

footer.footer{
	background-color: #F1D2A7;
	text-align: center;
	display: flex;
	align-items: center;
	align-content : center;
	justify-content: center;
	gap: 10px;
	padding-top: 20px; padding-bottom: 20px;
	width : 100%;
}

footer.footer p:first-of-type{
	font-weight: 600;
	font-size: 1.1rem;
}

.footer .first-column{
	width: 40%;
	align-items: top;
	text-align: center; 
	padding: 5px;
	line-height: 05.rem;
}

.footer .second-column,.fourth-column{
	width: 15%;
}

.footer .second-column{
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 5 px;
}

.footer .second-column ul{
	padding-left: 5px;
	margin: 0;
}

.footer .second-column a{
	text-align: left;
	width: 100%;
}

.footer .third-column{
	width: 17%;
	text-align: left; 
}

.footer .fourth-column{
	align-content: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.socials{
	display: flex;
	gap: 10px;
	justify-content: center;
}

.socials .social-btn{
	background-color: #4E032A;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 20px;
	transition: 0.3s;
}

.socials .social-btn:hover{
	background-color: #3B0220;
}

nav.footer-nav ul li.footer-btn, nav.footer-nav ul li.footer-btn-active{
	list-style-type: none;
	text-align: left;
	padding-bottom: 5px;
	font-family: Montserrat;
	font-weight: bold;
	padding-left: 0px;
	text-transform: uppercase;

}

nav.footer-nav ul li.footer-btn a{
	color: #4F4F4F;
	text-decoration: none;
	border-left: 3px solid #4F4F4F;
	padding-left: 5px;
}
nav.footer-nav ul li.footer-btn-active a{
	color: #000000;
	text-decoration: none;
	border-left: 3px solid #000000;
	padding-left: 5px;
}

nav.footer-nav ul li.footer-btn:hover a{
	color: #2B2B2B;
	transition: 0.5s all;
	font-weight: bold;
	border-left: 3px solid #2B2B2B;
	padding-left: 5px;
}



/* LAYOUT PRINCIPAL */
.main{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding: 50px;
}

/* CARTE */
.map{

}
/* COLONNES */
.left, .right{
	width: 100%;
}

/* FORMULAIRE */
.form{
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 600px;
}

/* LIGNES (2 colonnes) */
.row{
	display: flex;
	gap: 25px;
}

/* CHAMPS */
.group{
	flex: 1;
	display: flex;
	flex-direction: column;
}

/* LABEL */
.group label{
	margin-bottom: 7px;
}

/* INPUTS */
input, textarea, select{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* TELEPHONE */
.phone{
	display: flex;
	gap: 10px;
}

.phone select{
	width: 40%;
}

.phone input{
	width: 60%;
}

/* TEXTAREA */
textarea{
	min-height: 120px;
}

/* BOUTON */
button{
	background-color: #4E032A;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	width: fit-content;
}

/* MAP */
.map{
	width: 100%;
	height: 300px;
	border: 0;
}

/* RESPONSIVE */
@media (max-width: 768px){
	.main{
		grid-template-columns: 1fr;
	}
}


