<div class="article">
	<img src="img/header-bg.webp" class="article-img">
	<div class="article-first-line">
		<p class="article-author">
			<strong>Cercle Numismatique de Nîmes</strong>
		</p>
		<p class="article-date">
			25/03/2026
		</p>
	</div>			
	<h3 class="article-title-grid">
		Prochaine réunion du Cercle 
	</h3>
	<p class="article-desc">
		La prochaine réunion du cercle est prévue le 10 avril 2026...
	</p>
	<button class="base-btn">
		<a href="news/25_03_26.html" class="btn-link">
			Lire la suite
		</a>	
	</button>
</div>